<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup)="onSearchChange(searchT.value)"
        #searchT>
      <p>{{searchText}}</p>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div *ngFor="let course of searchCourses">
  <div>
    Titre: <span class="text-success">{{course.titre}}</span> ,
    Auteur: <span class="text-primary">{{course.author}}</span>,
    numSession: <span class="text-primary">{{course.numSession}}</span>
    <div> session N1: <span class="text-primary">{{course.sessions[0].date_debut}}</span> <button (click)="onInscriptionClick(course.id, 1)" class="btn-success">S'inscrire</button> </div>
    <div *ngIf="course.sessions[1]">session N2: <span class="text-primary">{{course.sessions[1].date_debut}}</span><button (click)="onInscriptionClick(course.id, 2)" class="btn-success">S'inscrire</button> </div>
  </div>
</div>
